.container{
    margin-top:20px;
}
.row,
.sns{
    margin-top:20px;
}
.spacer{
    margin-left:20px;
}
h1.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.circle {
    border-radius: 50%;
    object-fit: cover;
}